* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(32, 104, 104);
  font-family: "Fjalla One", sans-serif;
  color: rgb(255, 255, 255);
  // text-shadow: 2px 2px #000000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  .inputSearch {
    display: flex;

    input {
      width: 200px;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 10px;
      font-family: "Fjalla One", sans-serif;
    }

    button {
      height: 30px;
      width: 30px;
      margin-top: 5px;
      font-family: "Fjalla One", sans-serif;
    }
  }

  .cards {
    display: flex;
    justify-content: center;

    .skeletons {
      display: flex;

      .skeleton {
        margin: 5px;
      }
    }
  }

  .card-block {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    width: 240px;
    height: 240px;
    background: linear-gradient(
      141deg,
      rgba(17, 13, 107, 1) 36%,
      rgba(6, 199, 238, 1) 100%
    );

    &__weather {
      display: flex;
      justify-content: space-between;
    }

    &__leftBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      .weather_ico {
        border-radius: 10px;
      }
    }

    &__rightBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      .temperature {
        font-size: 35px;
      }
    }

    &__extraInfo {
      display: flex;
      justify-content: space-around;
      .extraInfo-item {
        display: flex;
        align-items: center;
      }
    }
  }
}
