* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  background: linear-gradient(114deg, rgba(234,234,247,1) 40%, rgba(21,158,209,1) 100%);

  &__weather {
    display: flex;
    justify-content: space-between;
  }

  &__extraInfo {
    .extraInfo-item {
      display: flex;
    }
  }
}